<% provide(:title,'Cocktails') %>

  <% @cocktails.each do |c| %>
<div class="big-box">
<div class="title-box">

<div class="cocktail-image">
<% if c.image.present? %>

  <%= image_tag url_for(c.image) %>
<% end%></div>
<div class="name-author">
  <p class="cocktail-name"><%= c.name%></p>
  <p class="cocktail-info"> <%= c.creator %> - <%= c.city %> </p>
  <%= inline_svg_tag 'download.svg' , id:'download-icon'%>
  <%= inline_svg_tag 'share.svg' , id:'share-icon'%>
</div>



</div>
<div class="recipe-box">
<p class="cocktail-com">Ingredients</p>
<p class="cocktail-ing"><%= c.ingredient %></p>
<div class="side-info">
<p class="cocktail-com">Garnish</p>
<p class="cocktail-ing"><%= c.garnish %></p>
<p class="cocktail-com">Serving</p>
<p class="cocktail-ing"><%= c.serving %></p>

</div>
</div>
<div class="big-spacer"></div>
</div>

<% end %>


<div class="call-recipe">
<a href="mailto:joe@example.com?subject=feedback">Share your Recipe</a>
<%= inline_svg_tag 'Arrow.svg' , id: 'share-arrow'%>
</div>
