
<% if browser.device.mobile? %>
<div class="mobile">
  <div class="main-container-mobile">

  <div class="logo">
  <%= inline_svg_tag 'TdA-Logo.svg'%>
  </div>

  <div class="newsletter">
<div class="text-success" id="sub-text">Let me know when the site is ready</div>
    <%= form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
      <div class="updates">
      <%= email_field(:email, :address, {id: "email-field", placeholder: "Your email"}) %>
      <%= image_submit_tag("submit.png", id: "submit_btn") %>
      <div id="emailMsg"></div>
    </div>

      <% end %>

  </div>

  <div class="links">

  <div class="instagram"><%=link_to 'Instagram' , 'https://instagram.com/terresdailleurs' , target: "_blank" %></div>
  <div class="email"><a href="mailto:info@lesterresdailleurs.com">Contact us</a></div>

  </div>

  </div>



  <div class="arctic"><%= inline_svg_tag 'arctic-bottomless.svg' %></div>
  <div class="moyra"><%= inline_svg_tag 'Moyra.svg' %></div>
  <div class="fedora"><%= inline_svg_tag 'Fedora.svg' %></div>
  <div class="north-arrow"><%= inline_svg_tag 'North.svg' %></div>




</div>


<%else%>


<div class="main-container">

<div class="logo">
<%= inline_svg_tag 'TdA-Logo.svg'%>
</div>

<div class="newsletter">
<div class="text-success" id="sub-text">Let me know when the site is ready</div>
  <%= form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
    <div class="updates">
    <%= email_field(:email, :address, {id: "email-field", placeholder: "Your email"}) %>
    <%= image_submit_tag("submit.png", id: "submit_btn") %>
    <div id="emailMsg"></div>
  </div>

    <% end %>

</div>

<div class="links">

<div class="instagram"><%=link_to 'Instagram' , 'https://instagram.com/terresdailleurs' , target: "_blank" %></div>
<div class="email"><a href="mailto:info@lesterresdailleurs.com">Contact us</a></div>

</div>

</div>

<div class="north-arrow"><%= inline_svg_tag 'North.svg' %></div>
<div class="arctic"><%= inline_svg_tag 'arctic-bottomless.svg' %></div>
<div class="fedora"><%= inline_svg_tag 'Fedora.svg' %></div>
<div class="moyra"><%= inline_svg_tag 'Moyra.svg' %></div>


<% end %>









<script type="text/javascript">


$(document).ready(function(){
		$("#submit_btn").attr('disabled', 'disabled');

    $("#email-field").keyup(function(){
    			if(validateEmail()){
    				// if the email is validated
    				// set input email border green
            $("#email-field").css("border-bottom","1px solid #9b883b");

            $("#emailMsg").html("<p class='text-success'>valid email</p>");

            $( "#submit_btn" ).click(function() {
              $("#emailMsg").html("<p class='text-success'>subscribed!</p>")
                    });

    			}else{

    				$("#email-field").css("border-bottom","1px solid coral");
    				$("#emailMsg").html("<p class='text-danger'>invalid email</p>");
            $( "#submit_btn" ).click(function() {
              $("#emailMsg").html("<p class='text-danger'>check your email again</p>")
                    });
    			}
    			buttonState();
    		});

        function buttonState(){
        		if(validateEmail() ){
        			// if the both email and password are validate
        			// then button should show visible
              $("#submit_btn").removeAttr("disabled")

        		}else{
        			// if both email and pasword are not validated
        			// button state should hidden
              $("#submit_btn").attr('disabled', 'disabled');
        		}
        	} //Button State

          function validateEmail(){
          		// get value of input email
          		var email=$("#email-field").val();
          		// use reular expression
          		 var reg = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
          		 if(reg.test(email)){
          		 	return true;
          		 }else{
          		 	return false;
          		 }

          	}





  }); //Docready


</script>
