

<section id="home">
<%@products.each do |p| %>
<div class="product-content-home">
  <div class="image-mob">

<%if p.image.attached? %>
<%=image_tag url_for(p.image) %>
<% end%>
</div>


<p class="overlay" id="story">The story</p>
<p class="overlay" id="wine">The wine</p>
<p class="overlay" id="order">order</p>
<p class="overlay" id="cocktails-home">cocktails</p>

<div id="b-r-mobile"><%= inline_svg_tag 'bottom-right.svg' %></div>
<div id="b-l-mobile"><%= inline_svg_tag 'bottom-left.svg' %></div>
<div id="t-r-mobile"><%= inline_svg_tag 'top-right.svg' %></div>
<div id="t-l-mobile"><%= inline_svg_tag 'top-left.svg' %></div>
</div>
<%end%>
</section>

<section id="about-mobile">
  <div class="about-block">
    <p class="section-head">About</p>
  <div class="block-title">The brand</div>
  <div class="block-text">
    <p id="subhead">  We create sensory trips to untraveled lands.</p>
    Our products flirt with the familiar and the unexpected ; as if they’re coming from remote but possible worlds.
    Our ingredients are common or atypical, but our secrets lie in the process and the recipes.
    Our flavors are shrouded with mystery, they’re bound to take your taste buds on uncharted territories we call Terres d’Ailleurs.
  </div>

  <div class="block-title">The Mission</div>
  <div class="block-text">
    Backed with scientific research and constant development, our mission is simple: Enhance memorable moments. From a couple’s sunset getaway, to a solitary night by the
    campfire or a gathering of friends; we’re adding flavor to memories.
    Our products also aim to have a low impact on the body : Our wines for example are lower in sulfites, this can make morning after drinks lighter and worry-free.
  </div>

  <div class="block-title">The Values</div>
  <div class="block-text">

    <p id="subhead">Sustainability</p>
    The products we create are gentle with the planet and its inhabitants. All our processes are zero-waste; the ingredients are organic and grown with care for the soils. The farmers and stakeholders are treated ethically and our businesses are fair-trade.

    <p id="subhead">Innovation</p>
    In an evolving marketplace, where the needs are constantly redefined, our products are synonymous with innovation. Far from searching for a seat in the overly competitive wine market, our fruit wines are an alternative, a pleasant discovery.
  </div>

  <div class="block-title" id="about-wine">The wine</div>
  <div class="block-text" id="about-wine-open">
    Primitive civilizations were convinced that fermentation involved divine spirit intervention. Following this piece of ancient wisdom, we developed Passion Tropicale .
    Made by fermenting passion fruit juice, this wine offers a surprisingly fruity, mellow and slightly tart bouquet. It’s characterized by a remarkable lingering aftertaste with scents of citrus and sunlight.

    It is said that the recipe originates from the imaginary Island of Moyra, a Terres d’Ailleurs or a  Faraway Land. Legend has it that, there, the passiflora vines bear only passion fruit if they’re planted by couples deeply in love. This could explain the undeniable aphrodisiac properties of this wine.   </div>



  </div>
</section>

<section id="stories">
  <p class="section-head" id="stories-head">Stories</p>
  <div class="story-map-mobile">
    <div class="island-tertia"><%= inline_svg  'islands/tertia.svg'%> <p class='island-name-map'>Tertia<p></div>
      <div class="island-gula"><%= inline_svg  'islands/gula.svg'%> <p class='island-name-map'>Gula<p></div>
    <div class="island-fedora"><%= inline_svg  'islands/Fedora.svg'%> <p class='island-name-map'>Fedora<p></div>
  <div class="island-adelma"><%=link_to  stories_path(anchor: 'Adelma') do %><%= inline_svg  'islands/Adelma.svg'%>  <p class='island-name-map'>Adelma <%=inline_svg 'dwn-arrow.svg' , id: 'dwn-arrow'%><p></div><%end%>
    <div class="island-moyra"><%=link_to  stories_path(anchor: 'moyra') do %><%= inline_svg  'islands/Moyra.svg'%> <p class='island-name-map'>Moyra <%=inline_svg 'dwn-arrow.svg' , id: 'dwn-arrow'%><p></div><% end %>
  <div class="island-the-arges"><%= inline_svg  'islands/the-arges.svg'%> <p class='island-name-map'>The Arges<p></div>

  </div>
  <%@products.each do |p| %>

  <div class="<%=p.id%>" id="<%=p.island_name%>">
  <div class= "island-story-mobile">
  <div class="story-info">
    <div id="story-title"><%=p.island_name %></div>
    <div id="island-shape"><%=p.island.html_safe %></div>
    <div id="product-name"><%=p.name %></div>
    <div id="product-type"><%=p.product_type %></div>
    <div id="product-story"><%=p.story %></div>
    <div id="contribute"><%= link_to contact_path do  %> Contribute to the story <%=inline_svg 'Arrow.svg'%><%end%></div>
  </div>



  </div>
  </div>
  <%end%>
</section>

<section>

</section>
