<div class="story-map"></div>


<%@products.each do |p| %>

<div class="<%=p.id%>" id="<%=p.island_name%>">


<div class= "island-story">
<div class="story-info">
  <div id="story-title"><%=p.island_name %></div>
  <div id="product-name"><%=p.name %></div>
  <div id="product-type"><%=p.product_type %></div>
  <div id="product-story"><%=p.story %></div>
  <div id="contribute"><%= link_to contact_path do  %> Contribute to the story <%=inline_svg 'Arrow.svg'%><%end%></div>
</div>


<div class="story-image">
  <%if p.cocktail_image.attached? %><div id="cocktail_image"> <%= image_tag(p.cocktail_image) %></div><% end %>

</div>


</div>
</div>

<script type="text/javascript">

  var className = $('.<%=p.id%>').attr('class');
  console.log(className)

if (className % 2 == 0) {
$('.<%=p.id%>').children('.island-story').removeClass('island-story').addClass('island-story-switch')
}

</script>






<% end %>
