<!DOCTYPE html>
<html>
  <head>
    <title>Terres d'Ailleurs - Mobile </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



  </head>

  <body class="preload">


        <div class="mobile-header">
          <div class="logo-nav"><%= link_to home_path do %><%= inline_svg_tag 'TdA-Logo.svg'%><% end %></div>
          <div class="burger"><%= inline_svg_tag 'burger.svg' %></div>
        </div>

            <div class="top-nav-mobile"  id="top-nav">


              <div class="close-svg"><%= inline_svg_tag 'close.svg' %></div>


              <div class="links">

              <p><%= link_to "about", about_path %></p>
              <p><%= link_to "cocktails", cocktails_path %></p>
              <p><%= link_to "stories", stories_path %></p>
              <p><%= link_to "contact", contact_path %></p>
              <p id="shop"><%= link_to "shop", shop_path %>
</p>
              </div><!--links-->
            </div>



<div class="master-container">





<div class="footer-master-mobile" style="display:none">
<div class="subscribe-footer">
<div class="newsletter-master">
<div class="text-success" id="sub-text">Subscribe</div>
    <%= form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true") do %>
      <div class="updates">
      <%= email_field(:email, :address, {id: "email-field", placeholder: "Your email"}) %>
      <%= inline_svg 'Submit.svg' , id:'subscribe-btn' %>
      <div id="emailMsg"></div>
    </div>

      <% end %>

  </div>




</div>
<div class="visit-footer"><p class="footer-head">Visit</p><p class="footer-details">9 Place de la Madeleine, Paris, Île-de-France, 75010</p></div>
<div class="contact-footer"><p class="footer-head">Get in touch</p>
<p class="footer-details">
<%= link_to 'Instagram' , "https://www.instagram.com/terresdailleurs" , target: "_blank" %><br>
<%= link_to 'Facebook' , "https://www.instagram.com/terresdailleurs" , target: "_blank" %><br>
<%= link_to mail_to "info@lesterresdailleurs.com" , "Email" ,  subject: "Hey Terres d'Ailleurs!" ,  target:"_blank"%>
</p></div>
<div class="legal-footer"><p class="footer-head">Legal Info<p>
  <p class="footer-details"><%= link_to "Privacy Policy", legal_path  , target: "_blank" %><br>
<%= link_to "Terms & Conditions", legal_path  , target: "_blank" %><br>
<%= link_to "Return Policy", legal_path  , target: "_blank" %><br></div>

<div class="copy-footer"><p class="footer-head">Copyright</p>
  <p class="footer-details">
  2021 Copyright ©<br>
  <%= link_to 'design by labaki.design' , "http://www.labaki.design" , target: "_blank" %><br><p>
</div>
<div class="upwards-footer"><a href="#top-nav"><%= inline_svg 'upwards.svg' %></a> <p class="footer-details" id="back-top">back to top</p></div>


</div>
    </div>
</body>



</html>
